body
	font-family acrom
	font-size 12px
	font-weight normal
	line-height 1
	color #000
	display flex
	flex-direction column
	align-items center
	justify-content stretch
	background #ebebeb

.preload
	position absolute
	top 0
	left 0
	visibility hidden

.page
	flex 1 1 auto
	display flex
	justify-content center
	width 100%
	min-height 100vh
	min-width 320px
	background #fff
	overflow-x hidden
	overscroll-behavior-y none

	&__inner
		display flex
		flex-direction column
		justify-content stretch
		width 100%

.header
	flex 1 0 152px
	height 152px
	display flex
	flex-direction column
	justify-content center
	align-items center

	+above(1024px)
		flex-basis auto
		min-height 50vh

.header__text
	font-size 13px
	line-height 20px
	font-weight: 500
	text-align center
	letter-spacing -0.05em
	margin-top 16px

	+above(1024px)
		font-size 18px
		line-height 24px
		margin-top 24px
.logo
	width: 150px
	height 24px

	img
		width: 100%

	+above(1024px)
		width: 200px
		height 32px

.content
	flex 1 1 auto
	background #381D4B
	position relative
	display flex
	justify-content center

	+above(1024px)
		min-height 50vh

	&:before
		content ''
		display block
		position: absolute
		top: -11px
		left: 50%
		width: 48px
		height: 12px
		background url(../images/subtract.svg)
		transform translateX(-50%)

	&__inner
		position: relative
		width: 100%
		max-width 1024px

.form
	min-height calc(100vh - 152px)
	text-align center
	padding 40px 40px 31px
	border-bottom 1px solid rgba(255, 255, 255, 0.1)

	+above(1024px)
		flex-basis auto
		min-height 0
		height 100%
		padding 16px 0
		border-bottom 0
		display flex
		justify-content center
		align-items center

	&__inner
		+above(1024px)
			width 432px
			display flex
			flex-direction column
			align-items center

	&__field
		width: 100%
		display flex
		flex-direction column
		align-items center

		+above(1024px)
			max-width: 432px
			height: 56px
			border-radius 28px
			background: #fff
			display flex
			flex-direction row
			justify-content space-between
			padding-right 9px

		& + &
			margin-top 16px

	&__input
		width 100%
		height: 48px
		background: #fff
		color rgba(56, 29, 75, 0.5)
		border-radius 24px
		text-align center
		font-size 14px
		line-height 17px
		padding 0 16px
		max-width 375px

		+above(1024px)
			padding 0 23px 0 32px
			text-align left
			max-width 100%

		&::placeholder
			opacity: 1

	&__submit
		background #1CC45F
		border-radius 24px
		height: 48px
		font-weight bold
		font-size 14px
		line-height 21px
		color #fff
		width 100%
		max-width 375px
		margin-top 16px

		+above(1024px)
			flex 0 0 144px
			height 38px
			margin-top 0


	&__notice
		font-size: 14px;
		line-height: 24px;
		color #fff
		margin-top 32px

.sign-in
	display flex
	justify-content: center
	padding 40px 0

	+above(1024px)
		position:absolute
		top: -24px
		right: 80px
		padding 0

	&__button
		width: 128px
		height 48px
		background: #FFDE0F
		border-radius: 24px
		display flex
		font-size: 14px
		font-weight bold
		align-items: center;
		letter-spacing: -0.04em;
		color #381D4B
		padding-left 24px

		&:hover
			text-decoration: none

	svg
		width: 18px
		height: 19px
		margin-right 5px


.mobile-only
	+above(1024px)
		display none
