html
	height 100%

body
	font-family inter
	font-size 12px
	font-weight normal
	line-height 1
	color #fff
	height 100%
	display flex
	flex-direction column
	align-items center
	justify-content stretch
	background #ebebeb

.preload
	position absolute
	top 0
	left 0
	visibility hidden

.page
	flex 1 1 auto
	display flex
	justify-content center
	width 100%
	min-height 100%
	min-width 320px
	overflow-x hidden
	overscroll-behavior-y none

	&__inner
		position relative
		display flex
		flex-direction column
		justify-content stretch
		width 100%
		z-index 2

.header
	flex 0 0 72px
	height 72px
	display flex
	flex-direction column
	justify-content center
	align-items center
	border-bottom 1px solid rgba(255, 255, 255, 0.1)

.header__text
	font-size 16px
	line-height 16px
	font-weight 600
	color #fff
	text-align center

.content
	flex 1 1 auto
	position relative
	display flex
	flex-direction column
	align-items center

	&__inner
		flex 1 1 auto
		padding 0 40px
		width 100%

.mobile-only
	+above(1024px)
		display none
