.field

	& + &
		margin-top 16px

	&__input
		display block
		width 100%
		background #fff
		border-radius 4px
		height 48px
		padding 0 24px
		font-weight normal
		font-size 13px
		line-height 20px

		+placeholder()
			opacity 1
			color rgba(0, 0, 0, 0.4)

	&__textarea
		display block
		width 100%
		height 112px
		resize none
		background #fff
		border-radius 4px
		padding 16px 24px
		font-size 13px
		line-height 20px

		+placeholder()
			opacity 1
			color rgba(0, 0, 0, 0.4)

	&__submit
		display block
		width 100%
		background #F2C22F
		border-radius 4px
		height 48px
		padding 0 24px
		font-weight bold
		font-size 14px
		line-height 16px
		color #fff
