@keyframes liveBlink {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes textFadeIn {
	0% {
		display: block
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInSurveyDiscount {
	0% {
			display: block
			opacity: 0;
			height: 0;
	}
	100% {
			opacity: 1;
			height: 26px;
	}
}


@keyframes bubbleSwing {
	0% {
		transform scale(0)
	}
	3% {
		transform scale(1)
	}
	5% {
		transform rotate(0deg)
	}
	6% {
		transform rotate(-3deg)
	}
	7% {
		transform rotate(0deg)
	}
	8% {
		transform rotate(3deg)
	}
	9% {
		transform rotate(0deg)
	}
}