.noscroll
	padding-right 15px
	overflow hidden

.disable
	visibility hidden
	pointer-events none
	opacity 0

.hidden
	display none !important

.visible
	display block !important


.text
	&__blue
		color $scubaBlue
	&__red
		color $scubaRed
	&__green
		color $scubaGreen
	&__bold
		font-weight bold

.js-sticky-placeholder
	display none
	height 0
	width 0