inter = 'Inter'

font-face($family, $filename)
	@font-face
		font-family $family
		src url('../fonts/' + $filename + '.woff2') format('woff2'),
			url('../fonts/' + $filename + '.woff') format('woff')
		{block}

+font-face(inter, 'Inter-Regular')
	font-style normal
	font-weight normal

+font-face(inter, 'Inter-Italic')
	font-style italic
	font-weight normal

+font-face(inter, 'Inter-Medium')
	font-style normal
	font-weight 500

+font-face(inter, 'Inter-MediumItalic')
	font-style italic
	font-weight 500

+font-face(inter, 'Inter-SemiBold')
	font-style normal
	font-weight 600

+font-face(inter, 'Inter-SemiBoldItalic')
	font-style italic
	font-weight 600

+font-face(inter, 'Inter-Bold')
	font-style normal
	font-weight 700

+font-face(inter, 'Inter-BoldItalic')
	font-style italic
	font-weight 700

+font-face(inter, 'Inter-ExtraBold')
	font-style normal
	font-weight 800

+font-face(inter, 'Inter-ExtraBoldItalic')
	font-style italic
	font-weight 800

+font-face(inter, 'Inter-Black')
	font-style normal
	font-weight 900

+font-face(inter, 'Inter-BlackItalic')
	font-style italic
	font-weight 900
