acrom = 'Acrom'

font-face($family, $filename)
	@font-face
		font-family $family
		src url('../fonts/' + $filename + '.woff2') format('woff2'),
			url('../fonts/' + $filename + '.woff') format('woff')
		{block}

+font-face(acrom, 'Acrom-Regular')
	font-style normal
	font-weight normal

+font-face(acrom, 'Acrom-Medium')
	font-style normal
	font-weight 500

+font-face(acrom, 'Acrom-Bold')
	font-style normal
	font-weight bold

+font-face(acrom, 'Acrom-ExtraBold')
	font-style normal
	font-weight 800

+font-face(acrom, 'Acrom-Thin')
	font-style italic
	font-weight 100

+font-face(acrom, 'Acrom-Light')
	font-style italic
	font-weight 300
