$purple = #ac21ad
$yellow = #fce703
$fadedText = rgba(255,255,255, .5)

$landingInnerWidth = 880px

sectionLine()
	border-bottom 1px solid rgba(255,255,255, .15)

gradientBody()
	background rgb(0,1,5)
	background linear-gradient(0deg, rgba(0,1,5,1) 0%, rgba(1,63,182,1) 100%)

gradientHeader()
	background rgb(127,24,128)
	background linear-gradient(180deg, rgba(127,24,128,0.8) 0%, rgba(127,24,128,0) 100%)

gradientRadialPurple()
	background rgb(127,24,128)
	background radial-gradient(circle, rgba(127,24,128,0.8) 0%, rgba(127,24,128,0) 100%)

gradientRadialWhite()
	background rgb(21,71,127)
	background radial-gradient(circle, rgba(21,71,127,0.8) 0%, rgba(21,71,127,0) 100%)

gradientPurpleToYellow($opacity = 1, $deg = 180)
	background rgb(252,231,3)
	background linear-gradient(unit($deg, deg), rgba(252,231,3,$opacity) 0%, rgba(253,47,255,$opacity) 100%)

gradientClipText()
	background rgb(252,231,3)
	background linear-gradient(10deg, rgba(252,231,3,1) 0%, rgba(253,47,255,1) 100%)
	background-size: 100%
	background-clip text
	-webkit-background-clip text
	-webkit-text-fill-color transparent

scubaBtn()
	display block
	background $purple
	height 30px
	border-radius 15px
	addFont(11, 30, gotham, true)
	font-weight bold
	text-transform uppercase
	padding-x 15px
	color #fff
	&:hover
		text-decoration none
		gayPride()