// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1921px), (min-resolution: 192dpi) and (min-width: 1921px) {
			background-image url('../images/' + $image + '-2x.' + $ext)
		}
}

// Placeholder
placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

	&:focus::-webkit-input-placeholder
		{block}
	&:focus:-moz-placeholder
		{block}
	&:focus::-moz-placeholder
		{block}
	&:focus:-ms-input-placeholder
		{block}

// Transition optimize
animate($property, $time, $function)
	backface-visibility hidden
	will-change $property
	transition-property $property
	transition-duration $time
	transition-timing-function $function

contentBox()
	padding-left 10px
	padding-right 10px
	width $contentWidthXs
	margin 0 auto
	+above(1440px)
		padding-left 90px
		padding-right 10px
		width $contentWidth

innerBox($width = $innerWidth, $pad = 50px)
	width $width
	margin 0 auto
	padding-x $pad

dot($size, $color)
	content: ''
	display: block
	position: absolute
	top: 50%
	background: $color
	size unit($size, px)
	border-radius: 50%
	transform translateY(unit(round($size / -2), px))
	pointer-events none

gayPride()
	background-image linear-gradient(80deg, rgba(252,231,3,1) 0%, rgba(253,47,255,1) 100%)
	background-position: 50% 50%
	background-size 110% 110%

addFont(fs, lh, ff, fix = false)
	font-family ff
	font-size unit(fs, px)
	line-height ceil(lh / fs, 4)

	if fix
		if ff == apercu
			.firefox &
			.mac &
				line-height ceil(unit(@line-height * @font-size - 1, '') / (unit(@font-size, '')), 4)
		if ff == gotham
			.mac &
				line-height ceil(unit(@line-height * @font-size + 2, '') / (unit(@font-size, '')), 4)
			.mac.firefox &
				line-height ceil(unit(@line-height * @font-size + 1, '') / (unit(@font-size, '')), 4)

textLine($img)
	content: ''
	position: absolute
	width 100%
	height: 12px
	background-image url('../images/' + $img + '.png')
	background-repeat repeat
	opacity: .1


textOverflow($color)
	&:after
		content: ''
		position absolute
		right 0
		top: 1px
		bottom 1px
		background linear-gradient(90deg, transparent 0%, $color 50%)
		width 30px
		pointer-events none

imageShadow()
	&:after
		content ''
		background rgba(0, 0, 0, .3)
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index 0
		pointer-events none


//Gradient variables
scubaGradient($color)
	if $color == blue
		background rgb(66,176,245)
		background linear-gradient(290deg, rgba(66,176,245,1) 0%, rgba(40,136,197,1) 100%)
	if $color == purple
		background rgb(127,95,222)
		background linear-gradient(10deg, rgba(127,95,222,1) 0%, rgba(99,66,197,1) 100%)