
// Reset
// ==========================================================================

// Reset default styles.
* // @stylint ignore
	margin 0
	padding 0
	font inherit
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

a // @stylint ignore
	text-decoration none
	color #000
	&:hover
		text-decoration underline

:focus // @stylint ignore
	outline 0

input
button
textarea
	border 0
	background none
	outline 0

button
	cursor pointer

svg
	pointer-events none