.scores
	background-color #34955F
	background-image linear-gradient(209.4deg, #F5845A 0%, #33945D 64.58%)
	background-size 100% 568px
	background-repeat no-repeat
	text-align center
	position relative

	&:before
	&:after
		content ''
		display block
		width 256px
		height 256px
		position absolute
		z-index 1
		background rgba(255, 255, 255, 0.06)
		border-radius 60px
		pointer-events none

	&:before
		left 0
		top 160px
		transform rotate(-45deg) translate(-30%, -40%)

	&:after
		right 0
		top -128px
		transform rotate(-45deg) translate(16%, 18%)

	&__title
		font-weight bold
		font-size 24px
		line-height 28px
		padding 24px 0

	&__subtitle
		font-weight bold
		font-size 18px
		line-height 24px
		padding 20px 0 24px

	&__text
		font-weight normal
		font-size 16px
		line-height 24px
		text-align center

	&__p
		font-weight normal
		font-size 13px
		line-height 20px

		& + &
			margin-top 10px

	&__reviews
		padding 40px 0 16px
		width 100%
		max-width 512px
		margin 0 auto

	&__review
		display flex
		align-items center
		justify-content space-between
		height 48px
		background linear-gradient(249.58deg, #FFFFFF 22.5%, #F3F3F3 82.26%)
		border-radius 0 4px 4px 0
		padding 0 16px 0 12px
		border-left 4px solid currentColor

		&:hover
			text-decoration none

		&.gis
			color #94D419

		&.google
			color #459FF8

		&.yandex
			color #FF3333

		& + &
			margin-top 16px

		&-icon
			svg
				width 24px
				height 24px

		&-link
			font-style normal
			font-weight: bold
			font-size: 14px
			line-height 24px
			color #000

		&:after
			content '→'
			font-style normal
			font-weight bold
			font-size 15px
			line-height 24px

	&__form
		padding 40px 0 16px
		width 100%
		max-width 512px
		margin 0 auto

	&__rates
		width 256px
		padding 32px 0 8px
		margin 0 auto

		&-inner
			display flex
			justify-content center
			flex-wrap wrap
			margin 0 -8px


	&__rate
		font-style normal
		font-weight bold
		font-size 20px
		line-height 16px
		display flex
		align-items center
		justify-content center
		width 48px
		height 48px
		border-radius 50%
		background #fff
		color #000
		margin 8px
		cursor pointer

		&:hover
			text-decoration none

		&:nth-child(1)
			color #E56969
		&:nth-child(2)
			color #E58053
		&:nth-child(3)
			color #E59C35
		&:nth-child(4)
			color #E4B120
		&:nth-child(5)
			color #E1C639
		&:nth-child(6)
			color #D0D405
		&:nth-child(7)
			color #B2C50C
		&:nth-child(8)
			color #8BBC15
		&:nth-child(9)
			color #69B51C
		&:nth-child(10)
			color #24AF08

	&__section
		display flex
		justify-content center
		align-items center
		text-align left
		height 100%

	&__message
		font-weight bold
		font-size 24px
		line-height 32px
		text-align center

	&__info
		text-align left

	&__footer
		flex 0 0 auto
		margin-top auto
		padding 24px 40px
		display flex
		flex-direction column
		width 100%

	&__back
		font-weight normal
		font-size 11px
		line-height 16px
		display flex
		height 32px
		align-items center
		text-align left
		color rgba(255, 255, 255, 0.3)

		&:hover
			text-decoration none

	&__credits
		position relative
		font-weight normal
		font-size 11px
		line-height 16px
		display none
		height 32px
		align-items center
		text-align center
		color rgba(255, 255, 255, 0.3)

		&:hover
			text-decoration none

		&:only-child
			display flex

		span
			flex 0 0 auto
			display block
			padding 0 16px

		&:before
		&:after
			content ''
			flex 1 0 auto
			height 1px
			background rgba(255, 255, 255, 0.1)
