.notification
	height 32px
	background rgba(255, 255, 255, 0.1)
	color rgba(255, 255, 255, 0.3)
	border-radius 4px
	display flex
	align-items center
	justify-content space-between
	padding 0 16px
	min-width 240px
	max-width 512px
	width 100%
	margin 0 auto

	&__label
		font-style normal
		font-weight normal
		font-size 11px
		line-height 12px
		display flex
		align-items center

	&__close
		width 12px
		height 12px
		cursor pointer

		svg
			width 12px
			height 12px
			fill rgba(255, 255, 255, 0.2)

